* {
    font-family: 'Noto Sans', sans-serif;
    color:white;
}
body {

    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    
}

header {
    background-color: black;
    position: fixed;
    width: 98%;
    padding: 1px 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.menu-left {
    display: flex;

}
.menu-right {
    display: flex;
    align-items: center;
}
.boxInput {
    height: 4vh;
    background: #000;
    display: flex;
    align-items: center;
    border: none;

}

.inputLupa {
    background: #000;
    width: 0;
    display: flex;
    outline: none ;
    border: 1px;
    
}
.menuSaida {
    font-size: 0.8em;
    position: absolute;
    right: 0.5vw;
    top: 10.5vh;
    background-color:#000000db;
    display: none;
    flex-direction: column;
    
}

.logout {
    display: flex;
    flex-direction: column;
    font-weight: 800;
    
    


}
.gerenciar-perfis{
    display: flex;
    flex-direction: column;
    border-bottom: solid rgba(255, 255, 255, 0.678) 0.5px;
    

}
.item {
    padding: 1vw 2vw 1vw 2vw;
}
.itemlist {
    font-size: 0.9em;
    text-decoration: none;
    padding: 1vw;
}

.logo {
    width: 7vw;
}

.teste:hover > .menuSaida {
    display: flex;
}

.fotoPerfil {
    width: 3vw;
}

/* .fotoPerfil:hover .menuSaida {
    display: flex;
} */

.fa-bell{
  width: 2.5vw;
  
}
.search {
    width: 2vw;
    margin: 1vw;
}

#corpo {
    width: 100vw;
    background: url('http://3.bp.blogspot.com/-hf_7zoo9XQk/T7G5m22I_5I/AAAAAAAAWtA/UNH9MIc3K5Y/s1600/tumblr_m2nkyb613P1r91ozao1_500.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
}

#home {
    background-image: linear-gradient(to right, black, #00000061, transparent);
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    align-items: center;
    width: 40%;

}

.button {
    display: flex;
    justify-content: space-around;
}

.botao-home {
    padding: 1px 25px 1px 25px;
    color: white;
    background-color: #00000059;
    border: none;
}

button:hover {
    background-color: white;
    color: black;
}

.box-home {
    margin-top: 20vh;
}

.text-enrolados {
   
    width: 30vw;
    color: white;
    
    font-size: 0.9rem;
}

#series {
    height: 100vh;
    background-color: #000;
    width: 100%;

}

.capas {
    display: flex;
    margin: 10vh;

}

.foto-capa {
    width: 25vw;
    height: 20vh;
    margin: 1px;
}
.minhalista {
    color: white;
    font-weight: 900;
    font-size: 1em;
    padding: 10px;
}